<!DOCTYPE html>
<html>
  <head></head>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <title>Million Dollar Secret</title>
  </head>

  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <nav id="navbar">
      <div id="dropdown__menu__button">
        <i class="fa fa-bars icon--menu" aria-hidden="true"></i>
      </div>
      <p id="logo">Million Dollar Secret</p>
      <div id="share__buttons">
        <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-text="Let your friends in on the secret.." data-url="http://www.milliondollarsecret.org" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        <div class="fb-share-button" data-href="https://www.milliondollarsecret.org" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.milliondollarsecret.org%2F&amp;src=sdkpreparse">Share</a></div>
      </div>
    </nav>

    <div id="site__wrapper">
      <div id="site__content">

        <header id="site__header">
            <h1 id="site__title"><a href="https://www.paypal.com/webapps/hermes?token=31B31422S3372193K&useraction=commit&xclick_params=b3MwJTNETWlsbGlvbi1Eb2xsYXItU2VjcmV0JTI2Y3VycmVuY3lfY29kZSUzRFVTRCUyNmJ1c2luZXNzJTNEWTU5WTdQQUpRV1dCRyUyNmxjJTNEQk0lMjZpdGVtX25hbWUlM0RNaWxsaW9uRG9sbGFyU2VjcmV0JTI2YnV0dG9uX3N1YnR5cGUlM0RzZXJ2aWNlcyUyNmJuJTNEUFAtQnV5Tm93QkYlMjUzYWJ0bl9idXlub3dDQ19MRy5naWYlMjUzYU5vbkhvc3RlZCUyNm9wdGlvbl9zZWxlY3QwJTNETWlsbGlvbi1Eb2xsYXItU2VjcmV0JTI2b3B0aW9uX2Ftb3VudDAlM0QwLjk5JTI2b3B0aW9uX2luZGV4JTNEMCUyNmNoYXJzZXQlM0RVVEYtOCUyNmxvZ2luX2VtYWlsJTNEcGF5bWVudCUyNTQwbWlsbGlvbmRvbGxhcnNlY3JldC5vcmclMjYlMjZ3YV90eXBlJTNEQnV5Tm93JTI2#/checkout/login">Million Dollar Secret</a></h1>
        </header>

        <div id="site__hook">
          <p id="site__hook__text">Want to know the amazing secret of how to make $1,000,000? <br><br> Find out for just $0.99!</p>
          </br>
          <a href="/thesecret" id="secret__text"> Click here to find out the secret! </a>
        </div>
        <img id="paypal" src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-small.png" alt="Check out with PayPal" />
            <br>
            <img id="creditcard" src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/ppcredit-logo-small.png" alt="PayPal Credit" />
            <br/>
        <div id="footer">
        </div>

      </div>
    </div>
    <script src="./scripts.js"></script>
  </body>
</html>